@import"../../../../../src/styles/colori.scss";

.detail-image{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 450px;
  width: 100%;
}
.container-detail{
  display:block;
  float: left;
  width: 100%;
  padding: 20px 40px;

  .detail-title{
    font-family: 'Homemade Apple', cursive;
    font-size: 30px;
    color: $primary-color-1;
    }

  .detail-description{
    text-align: justify;
    span {
      font-weight: bold;
    }
  }
  .difficulty{
    width:120px;
    display:block;
  }
}
