
  <div *ngIf="ricetta">
    <div class="detail-image" [ngStyle]="{'background-image':'url('+ ricetta.image +')'}"></div>
    <div class= "container-detail">
        <h2 class="detail-title">{{ricetta.title}}</h2>
        <p class="detail-description">{{ricetta.description}}</p>
        <p class="detail-description"><span>Difficoltà: </span><img [src]="percorsoDifficolta+ricetta.difficulty+'.png'" class="difficulty"></p>
        <p class="detail-description"><span>Data: </span>{{ricetta.date}}</p>
    </div>
  </div>

<div *ngIF="!ricetta">
 Siamo spiacenti la ricetta da lei ricercata non esiste più!
</div>


