@import "../../../../src/styles.scss";

.contenitore {

  h2{
    color: $secondary-color-1 !important;
    font-size: 50px;
}

  .paragrafo {
    span {
      font-weight: bold;
      color: $primary-color-3;
    }
  }

  .testoEvidenziato {
    background-color: $primary-color-4;
    width: 565px;
  }

}

.modal-header {
  background-color: $primary-color-1;
}

button.btn {
  background-color:$primary-color-1!important;
  color: $secondary-color-2!important;
  border: none;
  margin: 4px 2px;

}
