//primary colors
$primary-color-1: #8e210b;
$primary-color-2: #3e0d03;
$primary-color-3: red;
$primary-color-4: yellow;
$primary-color-5: #003867;



//secondary colors
$secondary-color-1:black;
$secondary-color-2: white;
$secondary-color-3: grey;
$secondary-color-4: rgb(82,82,82);

