<app-header></app-header>

<router-outlet></router-outlet>
<footer>
  <div class="container">
   <div class="container-address">
      <div><img src="../assets/images/icona-cibando.png" class="logo-footer"></div>
      <p class="footer-company-name">Cibando Srl</p>
      <p class="footer-list">Via Simone Martini, 100
      <br> 00142 Roma</p>
      <p class="footer-list">+39.348935421</p>
      <p class="footer-list"><a href="mailto:support@cibandosrl.com">support@cibandosrl.com</a></p>
   </div>
    <div class="container-menu">
      <p class="footer-title">Info</p>
      <p class="footer-list"><a href="#">Chi siamo</a></p>
      <p class="footer-list"><a href="#">Accedi</a></p>
      <p class="footer-list"><a href="#">Abbonati</a></p>
    </div>
    <div class="container-menu">
      <p class="footer-title">Scopri</p>
      <p class="footer-list"><a href="#">In edicola</a></p>
      <p class="footer-list"><a href="#">Shopping</a></p>
      <p class="footer-list"><a href="#">Blog</a></p>
    </div>
    <div class="container-menu">
      <p class="footer-title">About us</p>
      <p class="footer-list"> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.</p>
      <div class="footer-icons">
					<a href="#"><i class="fa-brands fa-facebook-f" id="logo-icon"></i></a>
					<a href="#"><i class="fa-brands fa-instagram" id="logo-icon"></i></a>
					<a href="#"><i class="fa-brands fa-youtube" id="logo-icon"></i></a>
					<a href="#"><i class="fa-brands fa-pinterest" id="logo-icon"></i></a>
				</div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>Copyright © 2023 | Sito Ufficiale di Cibando Srl | All Rights Reserved.</p>
  </div>
</footer>


