@import "../../../../styles/colori.scss";

input.ng-invalid.ng-touched{
  border: 2px solid #c00;
}

input.ng-valid.ng-touched {
  border: 2px solid #fabb00;
}

p.help.is-danger {
  width: 100%;
  text-align: right;
  color: $primary-color-6;
  margin-top: -35px;
  padding: 6px 25px 5px;
  font-size: 12px;
}
.container-registration{
  position: relative;
  width: 60%;
  height: 650px;
  margin: 30px auto;
  border: 2px solid $primary-color-1;
  border-radius: 25px;

  .left {
    width: 40%;
    float: left;
    padding: 2em;
    //background: #c9c4be;

    .register-descr {
      padding: 5px;

      h2.title-register {
        text-align: center;
        font-weight: bold;
        color:$primary-color-1;
      }

      p.p-register-descr {
        text-align: center;
        font-size: 12px;
      }
    }

    i#icon {
      position: relative;
      top: -15px;
      left: 4px;
    }


    label.form-label{
      font-size: 13px;
    }

    p#container-pw {
      font-size: .688rem;
      line-height: 15px;
      font-weight: 600;
      width: 95%;
      position: relative;
      top: 10px;
      bottom: 5px;
      left: -17px;
      text-align: justify;
    }

    input#form2Example3c {
      width: 15px;
      height: 15px;
    }

      label.form-check-label {
        font-size: 14px;

        a {
          color: #8e210b;
          text-decoration: none;
          font-weight: bold;
        }
      }

      p#invalid-feedback {
        width: 100%;
        text-align: right;
        color: #c92316;
        margin-top: -2px;
        /* padding: 6px 25px 5px; */
        font-size: 12px;
      }

      .d-flex.justify-content-center.mx-4.mb-3.mb-lg-4 {
        margin-top: -30px;

        p{
          font-size: 12px;
          margin-bottom: 12px;
          margin-top: 12px;
          margin-right: 5px;
        }
        }

        button.btn.btn-primary.btn-lg {
        background-color: $primary-color-1;
        border-color: $primary-color-1;
        }
      }
  }

  .right {
    float: left;
    width: 60%;
    background-repeat: no-repeat;
    min-height: 650px;
    background-size: cover;

    .img-fluid {
      max-width: 100%;
      height: 650px;
      border-radius: 0 25px 25px 0;
    }
  }

